<div class="row">
  <div class="col-md-4 mx-auto">
      <div class="card mt-5">
          <div class="card-header">
              <img class="d-block mx-auto" height="22%" width="20%" src="../../../assets/img/logo.png" alt="">
              <h2 class="text-center">forgot password form</h2>
          </div>
          <div class="card-body">
              <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
                  <div class="form-group">
                      <input 
                          type="email" 
                          class="form-control"
                          [ngClass]="{'is-invalid':userEmail.errors?.required && userEmail.touched ||userEmail.errors?.pattern}"
                          [(ngModel)]="email" 
                          #userEmail = "ngModel"
                          name="email"
                          required
                          email
                          pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                          placeholder="Email" />
                      <div *ngIf="userEmail.errors?.required && userEmail.touched" class="invalid-feedback">
                          Email is required.
                      </div>
                      <div *ngIf="userEmail.errors?.pattern && userEmail.touched" class="invalid-feedback">
                          Email is invalid.
                      </div>
                      <button class="btn btn-success mt-1" [hidden]="!f.valid" (click)="checkUser()">Check Email</button>
                  </div>
                  
                  <div class="form-group">
                    <input type="text" 
                    class="form-control" 
                    [(ngModel)]="securityQuestion"
                    name="securityQuestion"
                    disabled
                    #userSQ = "ngModel"
                    placeholder="Security Question" />
                </div>

                <div class="form-group">
                    <input type="text" 
                    class="form-control" 
                    [(ngModel)]="securityAnswer"
                    [ngClass]="{'is-invalid':userSA.errors?.required && userSA.touched || userSA.errors?.minLength}"
                    name="securityAnswer"
                    #userSA = "ngModel"
                    required
                    [disabled] = "disableAnswer"
                    minlength="5"
                    placeholder="Security Question Answer" />
                    <div *ngIf="userSA.errors?.required && userSA.touched" class="invalid-feedback">
                      Security answer is required.
                    </div>
                    <div *ngIf="userSA.errors?.minLength && userSA.touched" class="invalid-feedback">
                      Security Answer must atleast be of 5 words.
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="password"
                        name="password"
                        #userPassword = "ngModel"
                        disabled
                        placeholder="Password"/>
                </div>
                  <input type="submit" value="Reveal Password" class="btn btn-primary btn-block">
              </form>
              <hr>
          </div>
      </div>
  </div>
</div>